In [4]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import  LinearRegression
from sklearn.linear_model import Ridge, RidgeCV
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

from sklearn.datasets import load_diabetes

data = pd.read_csv('https://www4.stat.ncsu.edu/~boos/var.select/diabetes.tab.txt', sep='\t')
#data = load_diabetes()
print(dat2)
#print('>>>X shape {}'.format(data['data'].shape))
#print('>>>Y shape {}'.format(data['target'].shape))
#print(data['DESCR'])

     AGE  SEX   BMI      BP   S1     S2    S3    S4      S5   S6    Y
0     59    2  32.1  101.00  157   93.2  38.0  4.00  4.8598   87  151
1     48    1  21.6   87.00  183  103.2  70.0  3.00  3.8918   69   75
2     72    2  30.5   93.00  156   93.6  41.0  4.00  4.6728   85  141
3     24    1  25.3   84.00  198  131.4  40.0  5.00  4.8903   89  206
4     50    1  23.0  101.00  192  125.4  52.0  4.00  4.2905   80  135
..   ...  ...   ...     ...  ...    ...   ...   ...     ...  ...  ...
437   60    2  28.2  112.00  185  113.8  42.0  4.00  4.9836   93  178
438   47    2  24.9   75.00  225  166.0  42.0  5.00  4.4427  102  104
439   60    2  24.9   99.67  162  106.6  43.0  3.77  4.1271   95  132
440   36    1  30.0   95.00  201  125.2  42.0  4.79  5.1299   85  220
441   36    1  19.6   71.00  250  133.2  97.0  3.00  4.5951   92   57

[442 rows x 11 columns]

In [5]:
Y = data['Y']
X = data.drop(columns=['Y'])
X = pd.get_dummies(X, columns=['SEX'])

In [6]:
X

     AGE   BMI      BP   S1     S2    S3    S4      S5   S6  SEX_1  SEX_2
0     59  32.1  101.00  157   93.2  38.0  4.00  4.8598   87  False   True
1     48  21.6   87.00  183  103.2  70.0  3.00  3.8918   69   True  False
2     72  30.5   93.00  156   93.6  41.0  4.00  4.6728   85  False   True
3     24  25.3   84.00  198  131.4  40.0  5.00  4.8903   89   True  False
4     50  23.0  101.00  192  125.4  52.0  4.00  4.2905   80   True  False
..   ...   ...     ...  ...    ...   ...   ...     ...  ...    ...    ...
437   60  28.2  112.00  185  113.8  42.0  4.00  4.9836   93  False   True
438   47  24.9   75.00  225  166.0  42.0  5.00  4.4427  102  False   True
439   60  24.9   99.67  162  106.6  43.0  3.77  4.1271   95  False   True
440   36  30.0   95.00  201  125.2  42.0  4.79  5.1299   85   True  False
441   36  19.6   71.00  250  133.2  97.0  3.00  4.5951   92   True  False

[442 rows x 11 columns]

In [9]:
idx = list(range(X.shape[0]))

train_idx, valid_idx = train_test_split(idx, test_size=0.3, random_state = 2023) #iloc 보다 메모리 차지가 작음

print("Train data : {}".format(len(train_idx)))
print("Valid data : {}".format(len(valid_idx)))

Train data : 309
Valid data : 133

In [10]:
ressults = LinearRegression().fit(X.iloc[train_idx], Y.iloc[train_idx])

In [ ]:
import scipy
from sklearm import metrics

def sse(clf, X, y):
    y_hat = clf.predict(X)
    sse = np.sum((y_hat - y) ** 2)
    return sse / X.shape[0]

def adj_r2_score(clf, X, y):
    n = X.shape[0]
    p = X.shape[1]
    r_squared = metriics.r2_score(y, clf.predict(X))
    return 1 - (1 - r_squared) * ((n-1) / (n-p-1))
    
def coef_tval(clf, X, y):
    a = np.array(clf.intercept_ / coef_se(clf, X, y)[0])
    b = np.array(clf.coef / coef_se(clf, X, y)[1:])
    return np.append(a,b)

def coef_se(clf, X, y):
    n = X.shape[0]
    X1 = np.hstack((np.ones((n,1)), np.matrix(X)))
    se_matrix = scipy.linalog.sqrtm(
        metrics.mean_squared_error(y, clf.predict(X))*
        np.linalog.inv(X1.T * X1)
    )
    return np.diagonal(se_matrix)
 
def coef_pval(clf, X, y)
    n = X.shape[0]
    t = coef_tval(clf, X, y)
    p = 2 * (1 - scipy.stats.t.cdf(abs(t), n-1))
    return p

def summary(clf, X, y, xlabels=None):
    nocols = X.shape[1]
    if xlabels is None:
        xlabels = np.array(
        ['x{0}'.format(i) for i in range(1, ncois +1)], dtype='str')
    elif isinstance(xlabels, (tuple, list)):
        xlabels = np.array(xlabels, dtype='str')